@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

.App {
  height: 100%;
  margin: 0;
  font-size: calc(10px + 2vmin);
  font-family: "Open Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

.App-background {
  position: fixed;
  background: url("../public/Assets/site_background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.App-background-cover {
  position: fixed;
  background: #ffffff9f;
  height: 100%;
  width: 100%;
}
